body{
    margin: 0 5%;
    padding: 0px;
    font-size: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1{
    margin-top: 0;   
}

input[type="button"] {
    background: linear-gradient(#a0d8ef,#20b2aa);
    padding: 20px 35px;
    margin: 10px 40px 60px 0;
    border: 2px solid #1babb3;
    border-radius: 16px;
    display: inline-block;
    font-size: 110%;
    color: white;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
    outline: none;
}

.display_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.display_flex:last-child{
    margin-right:0;
}
