body{
    margin: 5%;
    padding: 0px;
    font-size: 200%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


input[type="button"] {
  background: linear-gradient(#a0d8ef,#20b2aa);
    padding: 10px 20px;
    margin: 0 25px 40px 0;
    border: 2px solid #1babb3;
    border-radius: 8px;
    display: inline-block;
    font-size: 70%;
    color: white;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.5);
    outline: none;
}
