@use "@/modules/styles/breakpoints.scss" as *;

.mainArea {
  :global(h1) {
    margin-bottom: 0.8rem;
  }
  :global(h2) {
    margin: 0.8rem 0;
  }
  :global(h3) {
    margin: 0.2rem 0;
  }

}

.flexBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxWrapper {
  gap: 10px;
  margin-bottom: 1.5px;
  margin-top: 1rem;
}

.handleButtonWrapper {
  gap: 10px 10px;
  margin: 15px 0;
}

.selectionButton {
  padding: 8px 10px;
  border-radius: 1.1rem;
  font-size: 90%;
  outline: none;
  font-weight: bolder;
  color: #33c634;
  border: 2px solid rgba(135, 141, 153, 0.4);
}

.submitButton {
  margin: 1.5rem auto;
  display: block;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  font-size: 115%;
  background: #16c464;
  border: none;
  border-radius: 1.2rem;
  color: white;
}

.loadingArea {
  margin: 2rem 4rem;
  width: calc(100% - 4rem * 2);
  @media (min-width: $pc-min-wdith) {
    margin: 0 20rem;
    width: calc(100% - 20rem * 2);
  }
}