@use "@/modules/styles/breakpoints.scss" as *;

.mainArea {
  :global(h1) {
    font-size: 160%;
    margin-bottom: 0.5rem;
  }
  :global(h2) {
    font-size: 120%;
    margin: 0.6rem 0;
  }
  :global(h3) {
    font-size: 110%;
    margin: 0.4rem 0;
  }

  :global(p) {
    margin: 0.75rem 0;
  }
}

.flexBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxWrapper {
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.handleButtonWrapper {
  gap: 0.8rem;
  margin: 0.8rem 0 1.2rem;
  flex-wrap: nowrap;
}

.selectionButton {
  padding: 8px 10px;
  border-radius: 1.1rem;
  font-size: 0.8em;
  outline: none;
  font-weight: bolder;
  color: #33c634;
  border: 2px solid rgba(135, 141, 153, 0.4);
}

.submitButton {
  margin: 0.8rem auto;
  display: block;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  font-size: 115%;
  background: #16c464;
  border: none;
  border-radius: 1.2rem;
  color: white;
}

.loadingArea {
  margin: 2rem 4rem;
  width: calc(100% - 4rem * 2);
  @media (min-width: $pc-min-wdith) {
    margin: 0 20rem;
    width: calc(100% - 20rem * 2);
  }
}

.baseRainfallProbabilityWrapper {
  $iconwidth: 0.75rem;

  :global(h3) {
    margin: 0;
  }

  position: relative;
  gap: 2rem;
  justify-content: stretch;

  &:after {
    position: absolute;
    right: 1rem;
    width: $iconwidth;
    height: $iconwidth * 0.7;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    pointer-events: none;
  }

  :global(select) {
    $horizontalPadding: 0.8rem;

    flex: 1;
    appearance: none;
    padding: 0.4rem calc($horizontalPadding + $iconwidth * 2) 0.4rem
      $horizontalPadding;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
    color: #333333;
    font-size: 100%;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
