@use '@/modules/styles/colors.scss' as colors;

.checkboxLabel {
  box-sizing: border-box;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 20px;
  border-radius: 12px;
  background-color: #f0f0f0;
  vertical-align: middle;
  cursor: pointer;
  text-indent: 28px;
  font-size: 115%;
  font-weight: bolder;
  vertical-align: middle;

  &:hover {
    background-color: #e2edd7;
    &:after {
      border-color: colors.$limeGreen;
    }
  }

  &:before {
    transition: opacity 0.2s linear;
    position: absolute;
    top: 55%;
    left: 23px;
    display: block;
    margin-top: -8px;
    width: 3px;
    height: 7px;
    border-right: 2px solid colors.$limeGreen;
    border-bottom: 2px solid colors.$limeGreen;
    content: '';
    transform: rotate(45deg) scale(1.8);
    opacity:0;
  }

  &:after {
    transition: border-color 0.2s linear;
    position: absolute;
    top: 45%;
    left: 12px;
    display: block;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 3px solid #bbb;
    border-radius: 8px;
    content: '';
  }
}

.checkboxInput {
  display: none;
  &:checked + .checkboxLabel:before {
    opacity: 1;
  }
}